.cause-card {
  cursor: pointer;
}
header {
}


#main {
  background: #D4E0FA;
  padding-bottom: 70px;
}
.right-col {
  padding-top: 60px;
}
.logo {
  height: 55px;
  margin: 10px 0;
}
img.handup, img.water {
  display: block;
  width: 80%;
  margin: 0 auto;
}

#file-reader {
  display: none;
}

.row {
  text-align: center;
}

#signup, #email {
  width: 50%;
  display: block;
  margin: 10px auto;
}

@media (max-width: 1000px){
  h1, h2, h3, h4 {
    position: relative;
    display: block;
    font-size: 5vw;
  }
}
