<div ng-controller="landingCtrl">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="img/creddon.png" class="creddon">
      </div>
    </div>
    <div class="col-md-12">
      <h1>Creddon</h1>
    </div>
    <div class="col-md-12">
      <ol>
        <li>Choose a Cause.</li>
        <li>Share a Photo.</li>
        <li>The Cause gets $1.</li>
      </ol>
    </div>
    <div class="col-md-12">
      <h6>Connecting Brands & Causes with Love & Money.</h6>
    </div>
    <div class="col-md-12">
      <button ui-sref="causes">Got it!</button>
    </div>
  </div>

</div>